

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head> -->
<!-- <app-layout></app-layout> -->
<!-- <router-outlet> -->
    
    <app-navbar ></app-navbar>
    <!-- <router-outlet style="background-image: url(./shared/images/digitization-6939537_1280.jpg);"></router-outlet> -->
    <router-outlet></router-outlet>
<!-- </router-outlet> -->

<!-- <h1>This is app</h1> -->



<!-- 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<header>
    <h1 class="">Patient Information</h1>
    <div class="container w-100 button-container  mb-5  ">
        <div class="row w-100 justify-content-center" >
            <div class="col col-3 text-center">
                <div class="row my-3">
                    <a  routerLink="Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                         <button type="button" class="btn btn-lg btn-primary " (click)="show()">Home</button> 
                        <button type="button" class="btn btn-lg btn-primary " >Home</button>
                    </a>
                </div>
                <div class="row my-3">
                    <a  routerLink="patient-form" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                        <button class="btn btn-lg btn-primary "type="button">Add a New Patient</button>
                    </a>
                </div>    
                <div class="row my-3">
                    <a  routerLink="patient-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <button class="btn btn-lg btn-primary " type="button" >View Patient List</button>
                    </a>
                </div>
        
            </div>
        </div>
        <div class="row "></div>
    </div>
</header>
<body>

    
     <app-login></app-login> -->
        
        <!-- <a href="patient-form"><button id="showform" type="button" (click)="(showForm=!showForm) && (showList=false)">+ Add a New Patient</button></a>    
        <a href="patient-list"><button type="button" (click)="(showList=!showList) && (showForm=false)">View Patient List</button></a>     -->
        <!-- <a routerLink="patient-form"><button id="showform" type="button" (click)="(showForm=!showForm) && (showList=false)">+ Add a New Patient</button></a>    
        <a routerLink="patient-list"><button type="button" (click)="(showList=!showList) && (showForm=false)">View Patient List</button></a> -->
                <!--  -->
        <!-- <button type="button" (click)="(showList=!showList) && (showForm=false)">View Patient List</button> -->
    
    
        <!-- <app-patient-form *ngIf="showForm" [showNewForm]="showForm"></app-patient-form> -->
    <!-- <app-patient-form *ngIf="showForm"></app-patient-form>
    <app-patient-list *ngIf="showList"></app-patient-list> 
    
    <router-outlet></router-outlet>
</body>
 -->
<!-- <app-layout></app-layout> -->